config.js
*~
.DS_Store
.tern-port
.cody
.vscode/*
extension/.tern_port
site/.DS_Store
extension/archivedVersions
extension.*
_site
*.zip
!versions/Release-Candidate/RCextension.zip
media/*.mov
site/**/*.mp4
.sass-cache
TAGS
reference
Non Prod/*
