/* First define the basic theme variables */
:root {
    --btRowHeight: 30px;
    --btFont: Roboto;
    --btControlsFont: Roboto;
    --btLetterSpacing: 0.02em;
    
    --btTopicFontWeight: 900;
    --btTopicFontSize: 12px;
    --btTopicLineHeight: 14px;

    --btPageFontWeight: bold;
    --btPageFontSize: 10px;
    --btPageLineHeight: 12px;

    --btNoteFontWeight: normal;
    --btNoteFontSize: 10px;
    --btNoteLineHeight: 12px;

    --btTitleFontSize: 16px;
    --btTitleFontWeight: 700;
    --btTitleLineHeight: 19px;

    --btSubtitleFontSize: 14px;
    --btSubtitleFontWeight: 700;
    --btSubtitleLineHeight: 19px;

    --btFootnoteFontSize: 10px;
    --btFootnoteFontWeight: 400;
    --btFootnoteLineHeight: 12px;

    --btSettingsFontSize: 10px;
    --btSettingsFontWeight: 400;
    --btSettingsLineHeight: 12px;
    --btSettingsFontColor: rgba(255, 255, 255, 0.7);

    /* Items below differ in the DARK theme */
    
    --btColor: #3C4749;  /* was #2a3f3e;*/
    --btNoteColor: #636363; /* was #808285; */
    --btTopicBackground: #bcc4c5;
    --btPageBackground: #d4dadb;

    /* uncomment to set note background color 
    --btNoteBackground: #e6e7e8;
    */
    
    --btInputBackground: white;
    --btInputForeground: #2d2d2d;
    --btHintColor: #BCBEC0;
    --btTooltipBackground: rgba(42, 63, 62, 0.85);
    --btTooltipForeground: #fff;
    
    --btRowSelected: # #e0ece0;
    --btRowHovered: #AAB6B8;
    
    --btGeneralBorder: #3f673f;
    --btGeneralBorderShadow: #3f673f90;
    --btButtonBackground: #7bb07b;

    --btHeaderBackground: linear-gradient(180deg, #F1F1F1 0%, #C3CBCB 52.6%, #C8CFD0 100%);
    --btFooterBackground: linear-gradient(#e6e6e7, #c3cbcb, #a8b3b4);
    --btEmptyBackground: whitesmoke;
    --btRowBorderColor: white;
    --btHeaderBorder: #ddd;
    
    --btControlsBackground: #eeeeee;
    --btOptionsBackground: #e5e5e5;
    --btControlsHeaderPrimaryColor: #2a3f3e;
    --btControlsHeaderSecondaryColor: #435554;
    --btControlsDividerColor: #556463;

    --btLinkColor: #2a3f3e;
    --btLinkOpenedColor: rgba(5, 122, 159, 0.8);
    --btLinkSelectedOpenedColor: #057a9f;
    --btSearchResult: lightgrey;

    --btDialogBackground: #eeeeee;
    --btTextAreaBackground: #fff;
    --btDrawAttention: var(--btGeneralBorder);

    --btTipBackground: #F598D4;
    --btWarningBackground: #F31D1D;
    --btMessageBackground: #B9CDDF;
}

[data-theme="DARK"] {

    --btColor: #aebabc; /* was #b6c3c3; */
    --btNoteColor: #aab6b8;
    --btTopicBackground: #3d4749;
    --btPageBackground: #626A6C;

    /*
    --btNoteBackground: #262F2F;
    */

    --btInputBackground: #2d2d2d;
    --btInputForeground: white;
    --btHintColor: white;
    
    --btTooltipForeground: rgba(42, 63, 62, 0.85);
    --btTooltipBackground: #fff;
    --btInvert: invert(1);
    
    --btRowSelected: #e5e5e5;
    --btRowHovered: #525a5c;
    
    --btGeneralBorder: #7bb07b;
    --btGeneralBorderShadow: #7bb07b90;
    --btButtonBackground: #7bb07b;

    --btHeaderBackground: linear-gradient(180deg, #6C7777 0%, #475354 100%);
    --btFooterBackground: linear-gradient(#6c7777, #475354);
    --btEmptyBackground: #2d2d2d;
    --btRowBorderColor: #2d2d2d;
    --btHeaderBorder: #2d2d2d;
    
    --btControlsBackground: #556463;
    --btOptionsBackground: #394847;
    --btControlsHeaderPrimaryColor: #ffffff;
    --btControlsHeaderSecondaryColor: rgba(255, 255, 255, 0.7);
    --btControlsDividerColor: rgba(255, 255, 255, 0.3);

    --btLinkColor: #b8c3c3;
    --btLinkOpenedColor: #78c6de;
    --btLinkSelectedOpenedColor: #5bc1e1;
    --btSearchResult: var(--btGeneralBorder);

    --btDialogBackground: linear-gradient(180deg, #566564 0%, #394C4B 100%);
    --btTextAreaBackground: #000;
    --btDrawAttention: var(--btGeneralBorder);

    --btTipBackground: #CE88B5;
}
a {
    color: var(--btLinkColor);
}
a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

html {
    background: var(--btEmptyBackground);
}
body {
    overflow-x: clip;
    margin-left: 0px;
    margin-right: 0px;
}

/*
 * Header Bar 
 */

#controlsHeader {
    z-index: 3;
}

#topBar {
    position: fixed;
    width: 100%;
    height: 54px;
    left: 0px;
    top: 0px;
    background: var(--btHeaderBackground);
    color: var(--btColor);
    z-index: 2;
}

#brain {
    background: var(--btControlsBackground);
    height: 30px;
    width: 30px;
    border-radius: 3px;
    padding: 2px;
    margin-left: 10px;
    margin-top: 8px;
}
#topBarRight {
    position: absolute;
    width: 78px;
    height: 46px;
    right: 0px;
    top: 0px;
    font-size: 11px;
}
#topBarRight div {
    cursor: pointer;
}
#topBarRight img {
    position: relative;
    top: 3px;
    height: 14px;
    width: 14px;
}
#settingsButton {
    padding-right: 15px;
    padding-top: 6px;
    padding-bottom: 4px;
    padding-left: 5px;
}
#settingsButton.open {    
    background: rgba(42, 63, 62, 0.9);
    color:  rgba(255, 255, 255, 0.7);
}
#actionsButton {
    padding-right: 15px;
    padding-left: 2px;
    padding-bottom: 10px;
    padding-left: 5px;
}
#actionsButton.open {    
    background: rgba(42, 63, 62, 0.9);
    color:  rgba(255, 255, 255, 0.7);
}
#footerHelp.open {    
    background: rgba(42, 63, 62, 0.9);
    color:  rgba(255, 255, 255, 0.7);
}

/* Set version of icon based on theme, light icon for dark theme */
#settingsIcon.DARK {
    content:url("resources/settingsIconLight.png");
}
#settingsIcon.LIGHT {
    content:url("resources/settingsIcon.png");
}
#actionsIcon.DARK {
    content:url("resources/actionsIconLight.png");
}
#actionsIcon.LIGHT {
    content:url("resources/actionsIcon.png");
}

#search_entry {
    position: absolute;
    left: 75px;
    top: 12px;
    border: none;
    width: calc((100% - 190px) * 0.9);
    color: var(--btInputForeground);
    background: var(--btInputBackground);
    border-radius: 12px;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.5);
    margin-left: 5px;
    padding-left: 15px;
    height: 25px;
}

#searchCancelButton {
    position: absolute;
    cursor: pointer;
    top: 17px;
    left: 62px;
}
#searchUpBtn {
    position: absolute;
    cursor: pointer;
    top: 12px;
    left: calc((100% - 155px) * 0.9 + 72px);
}
#searchDownBtn {
    position: absolute;
    cursor: pointer;
    top: 25px;
    left: calc((100% - 155px) * 0.9 + 72px);
}
    
.hint {
    /* alex */
    font-family: var(--btFont);
    font-style: var(--btNoteFontWeight);
    font-weight: var(--btNoteFontWeight);
    font-size: var(--btNoteFontSize);
    line-height: var(--btPageLineHeight);
    color: var(--btHintColor);
    z-index: 3;
    position: absolute;
    top: 18px;
    left: 90px;
}
.hintText {
    position: relative;
    top: -4px;
}
#newTopLevelTopic {
    position: fixed;
    top: 54px;
    width: 100%;
    height: 25px;
    text-align: center;
    background: #2A3F3E;
    color: #85E20E;
    cursor: pointer;
    font-family: var(--btFont);
    font-size: var(--btTopicFontSize);
    z-index: 2;
}
#newTopLevelTopic span {
    position: relative; 
    top: 5px;
}
#newTopicNameHint {
    position: relative;
    left: 40px;
    top: 15px;
}

/* style when input is active */
:focus-visible {
    outline-width: 1px;
    outline-color: var(--btGeneralBorder);
    outline-style: groove;
}
.highlight {
    background-color: lime;
}
.failed {
    background-color: #E59A98 !important;
}

/*
 * BT Settings
 */

.settingsActions {
    display: none;
    position: fixed;
    width: 100%;
    top: 26px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: rgba(42, 63, 62, 0.9);
    font-family: var(--btFont);
    color: #ffffff;
    text-align: center;
    z-index: 3;
}
#settings {    
    top: 26px;
}
#actions {
    top: 52px;
}
.settingsActions hr{
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    margin-left: 25px;
    margin-right: 25px;
}
.settingsTitle {
    font-size: var(--btTitleFontSize);
    font-weight: var(--btTitleFontWeight);
    line-height: var(--btTitleLineHeight);
    margin-bottom: 15px;
}
.settingsSubtitle {
    font-size: var(--btSubtitleFontSize);
    font-weight: var(--btSubtitleFontWeight);
    line-height: var(--btSubtitleLineHeight);
}
.settingsFootnote {
    font-size: var(--btFootnoteFontSize);
    font-weight: var(--btFootnoteFontWeight);
    line-height: var(--btFootnoteLineHeight);
    color: rgba(255, 255, 255, 0.6);
    margin-top: 15px;
}
.settingsText {   
    font-size: var(--btSettingsFontSize);
    font-weight: var(--btSettingsFontWeight);
    line-height: var(--btSettingsLineHeight);
    color: var(--btSettingsFontColor);
    margin-top: 15px;
}
#help {
    position: fixed;
    bottom: 26px;
    top: auto;
    max-height: 60%;
    overflow-y: auto;
}
#help .settingsSubtitle {
    font-size: 12px;
    cursor: pointer;
}
#help .helpAction:hover {
    color: #a0ec5f;
}
    
.settingsInput {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}
#settings input {
    accent-color: #000;
}
#settingsSubscription button {
    height: 35px;
    width: 34%;
    background: linear-gradient(180deg, #A0EC5F 0%, #55BA00 100%);
    border-radius: 5px;
    font-size: var(--btTitleFontSize);
    font-weight: var(--btTitleFontWeight);
    color: white;
    border: none;
}
#monthlySub {
    background: linear-gradient(180deg, rgba(160, 236, 95, 0.8) 0%, rgba(85, 186, 0, 0.8) 100%) !important;
}
#settingsSyncStatus button {
    height: 30px;
    width: 30%;
    background: var(--btFooterBackground);
    border-radius: 1px;
    font-size: var(--btTopicFontSize);
    font-weight: var(--btSubtitleFontWeight);
    color: var(--btTooltipBackground);
    border: none;
}
#settingsSubscription a {
    color: #a0ec5f; 
}
.dropdown_text {    
    color: var(--btTooltipBackground);
}


/* 
 * Row Buttons
 */

#buttonRow {
    position: absolute;
    padding-right: 0px;
    border-radius: 0px;
    cursor: pointer;
    right: 2px;
    height: calc(var(--btRowHeight) - 2px);
}
.rowButton {
    height: 28px;
    width: 26px;
    border: 1px solid var(--btTopicBackground);
    padding: 0px;
    margin-left: -2px;
    margin-right: -2px;
}

#tools {
    border-color: white;
    filter: invert(1);
}
#tools.toggled {
    border-color: var(--btTopicBackground);
    filter: invert(0);
}

/* 
 * Card editor
 */

#editOverlay {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #00000020;
}

#dialog {
    border-radius: 3px;
    padding: 30px;
    padding-top: 2px;
    margin-top: 0px;
    position: fixed;
    background: var(--btDialogBackground);
    color: var(--btControlsHeaderPrimaryColor);
}
dialog button {
    color: var(--btControlsHeaderPrimaryColor);
}

#dialog textarea {
    resize: none;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 2px;
    background: var(--btTextAreaBackground);
    color: var(--btColor);
    font-size: 11px;
}
#dialog input {
    border: 1px solid #ddd;
    width: 100%;
    border-radius: 2px;
    font-family: var(--btControlsFont);
    background: var(--btTextAreaBackground);
    color: var(--btColor);
}
#dialog #title-text,#topicName {
    white-space: nowrap;
}
#dialog #text-text {
    height: 11em;
}
#dialog #title-url {
    height: 2em;
    font-size: 0.6em;
    font-style: italic;
}
#dialog #distinguishedName {
    font-family:var(--btControlsFont);
    color: var(--btColor);
    text-align: center;
}
#dialog li::marker {
    color: var(--btGeneralBorder);
}
#dialog button {
    border: none;
    height: 30px;
    width: 40%;
    border-radius: 5px;
    color: var(--btTooltipForeground);
}
#update {
    background-color: #58BA00;
    margin-right: -5px;
}
#update:disabled {
    background-color: var(--btButtonBackground);
}
#cancel {
    background-color: #ff5555c8;
}
    
/* 
 * Key commands under Help
 */

#keyCommandsTable {
    font-size: var(--btTopicFontSize);
    margin-left: auto;
    margin-right: auto;
}
#keyCommands .keyCol {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#keyCommands .verticalCol {
    writing-mode: vertical-rl;
    text-align: center;
    padding-right: 10px;
}

.row_divider {
    border-bottom: solid;
    border-width: 1px;
    border-color: grey;
}

#helpClose {
    position: absolute;
    cursor: pointer;
    right: 3px;
    top: 3px;
    z-index: 4;
    filter: var(--btInvert);
}

button:not([disabled]):hover {
    color: #222;
    background-color: var(--btButtonBackground);
    cursor: pointer;
}

/* split button for import/export */
.button_text {
    font-size: var(--btTopicFontSize);
    font-weight: var(--btSubtitleFontWeight);
    color: rgba(42, 63, 62, 0.85);
}
.split_image {
    opacity: 0.6;
    margin-top: 1px;
}

#permissions {
    background-color: var(--btNoteColor);
    color: var(--btTooltipForeground);
}

#actions button, #permissions button {
    height: 30px;
    width: 100%;
    background: var(--btFooterBackground);
    border-radius: 1px;
    border: none;
    padding: 5px 5px 5px 8px;
}
#actions button:hover, #permissions button:hover {
    background-image: none;
    background-color: #a0ec5f;
}
#settingsSyncStatus button {
    width: 30%;
}
.dropdown_button {
    border-radius: 1px 1px 0px 0px;
}   
.dropdown_text {
    float: left;
}
.button_image_wrapper {
    float: right;
}

.dropdown {
    display: inline-block;
    width: 30%;
}

.dropdown_content {
    display: none;
    position: absolute;
    text-align: left;
    background-color: #eee;
    border: solid 1px rgba(42, 63, 62, 0.9);
    border-radius: 0px 1px 1px 1px;
    z-index: 1;
    width: 27%;
    transform: translate(-1px, -1px);
}

.dropdown_content a {
    text-decoration: none;
    float: left;
}
.dropdown_content label {
    float: left;
    cursor: pointer;
}
.dropdown_content div {  
    cursor: pointer;
    float: left;
    padding: 5px 0px 5px 5px;
    width: calc(100% - 5px);
}
.dropdown_content div:hover {background-color: #a0ec5f;}
.dropdown:hover .dropdown_content {
    display: block;
}
/* end split button*/

span.elipse {
     cursor:pointer;
     color:blue;
     text-decoration:underline;
     padding-left: 0.1em;
}

/* prevents selection being scrolled off top */
.treetable tr {
  scroll-margin-top: 375px;
}

#content {
    background-color: var(--btInputBackground);
}

body.waiting * {
    cursor: progress !important;
}

#backgroundLogo {
    position: fixed;
    width: 100px;
    height: 100px;
    left: calc(50% - 100px/2);
    top: calc(50% - 100px/2 + 0.5px);
    z-index: -1;
}

/* 
 * Tip Container
 */

#messageContainer {
    display: none;
    position: fixed;
    bottom: 30px;
    width: 100%;
    height: 40px;
    background: var(--btTipBackground); 
    font-family: Roboto;
    font-weight: 400;
    font-size: 11px;
    color: #954073;
    text-align: center;
    padding-top: 9px;
}
#messageClose {
    position: absolute;
    cursor: pointer;
    top: 7px;
    left: 15px;
}
#messageNext {
    position: absolute;
    cursor: pointer;
    top: 7px;
    right: 15px;
}
#messageContainer.warning {
    background: var(--btWarningBackground);
    color: #fff;
}
#messageContainer.message {
    background: var(--btMessageBackground);
    color: #59718C; 
}
#messageContainer.message > img {
    filter : hue-rotate(180deg);
}
#message .emoji {
    font-size: 18px;
    vertical-align: middle;
}
#message a {
    color: initial;
}
/* 
 * Footer
 */

#footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 30px;
    background-image: var(--btFooterBackground); 
    font-family: Roboto;
    font-weight: 400;
    line-height: 11px;
    color: var(--btColor);
}
#footerSavedIcon {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 16px;
    top: 6px;
}
#footerSavedInfo {
    position: absolute;
    height: 11px;
    left: 38px;
    top: 9px;
    font-size: 10px;
}
#footerHelp {
    cursor: pointer;
    position: absolute;
    right: 0px;
    font-size: 11px;
    
    padding-right: 15px;
    padding-bottom: 6px;
    padding-left: 5px;
    margin-top: 2px;
}
#footerHelpIcon {
    position: relative;
    top: 4px;
    left: 3px;
}
#footerHelpIcon.DARK {
    content:url("resources/helpLight.png");
}
#footerHelpIcon.LIGHT {
    content:url("resources/help.png");
}
#footerInfo {
    position: absolute;
    height: 12px;
    left: calc(50% - 138px/2 + 39px);
    top: 9px;
    font-size: 10px;
}
#footerOpenInfo {
    color: #0097C6;
}

.left > img {
    height: 12px;
    width: 12px;    
    position: relative;
    padding-right: 5px;
    top: 2px;
}

img.faviconOn {
    display: inline;
}
img.faviconOff {
    display: none;
}
