/* First define the basic theme variables */
:root {
    --btRowHeight: 30px;
    --btFont: Roboto;
    --btControlsFont: Roboto;
    --btLetterSpacing: 0.02em;
    
    --btTopicFontWeight: 900;
    --btTopicFontSize: 12px;
    --btTopicLineHeight: 14px;

    --btPageFontWeight: bold;
    --btPageFontSize: 10px;
    --btPageLineHeight: 12px;

    --btNoteFontWeight: normal;
    --btNoteFontSize: 10px;
    --btNoteLineHeight: 12px;

    /* Items below differ in the DARK theme */
    
    --btColor: #2a3f3e;
    --btNoteColor: #808285;
    --btTopicBackground: #bcc4c5;
    --btPageBackground: #d4dadb;

    /* uncomment to set note background color 
    --btNoteBackground: #e6e7e8;
    */
    
    --btInputBackground: white;
    --btInputForeground: #2d2d2d;
    --btHintColor: #BCBEC0;
    --btTooltipBackground: rgba(42, 63, 62, 0.85);
    --btTooltipForeground: #fff;
    
    --btRowSelected: # #e0ece0;
    --btRowHovered: #AAB6B8;
    
    --btGeneralBorder: #3f673f;
    --btGeneralBorderShadow: #3f673f90;
    --btButtonBackground: #7bb07b;

    --btHeaderBackground: linear-gradient(180deg, #D1D3D4 0%, #BDCBCB 100%);
    --btEmptyBackground: whitesmoke;
    --btRowBorderColor: white;
    --btHeaderBorder: #ddd;
    
    --btControlsBackground: #eeeeee;
    --btOptionsBackground: #e5e5e5;
    --btControlsHeaderPrimaryColor: #2a3f3e;
    --btControlsHeaderSecondaryColor: #435554;
    --btControlsDividerColor: #556463;

    --btLinkColor: #2a3f3e;
    --btLinkOpenedColor: rgba(5, 122, 159, 0.8);
    --btLinkSelectedOpenedColor: #057a9f;
    --btSearchResult: lightgrey;

    --btDialogBackground: #eeeeee;
    --btTextAreaBackground: #fff;
    --btDrawAttention: var(--btGeneralBorder);
}

[data-theme="DARK"] {

    --btColor: #b6c3c3;
    --btNoteColor: #aab6b8;
    --btTopicBackground: #3d4749;
    --btPageBackground: #626A6C;

    /*
    --btNoteBackground: #262F2F;
    */

    --btInputBackground: #2d2d2d;
    --btInputForeground: white;
    --btHintColor: white;
    
    --btTooltipForeground: rgba(42, 63, 62, 0.85);
    --btTooltipBackground: #fff;
    --btInvert: invert(1);
    
    --btRowSelected: #e5e5e5;
    --btRowHovered: #525a5c;
    
    --btGeneralBorder: #7bb07b;
    --btGeneralBorderShadow: #7bb07b90;
    --btButtonBackground: #7bb07b;

    --btHeaderBackground: linear-gradient(180deg, #6C7777 0%, #475354 100%);
    --btEmptyBackground: #2d2d2d;
    --btRowBorderColor: #2d2d2d;
    --btHeaderBorder: #2d2d2d;
    
    --btControlsBackground: #556463;
    --btOptionsBackground: #394847;
    --btControlsHeaderPrimaryColor: #ffffff;
    --btControlsHeaderSecondaryColor: rgba(255, 255, 255, 0.7);
    --btControlsDividerColor: rgba(255, 255, 255, 0.3);

    --btLinkColor: #b8c3c3;
    --btLinkOpenedColor: #78c6de;
    --btLinkSelectedOpenedColor: #5bc1e1;
    --btSearchResult: var(--btGeneralBorder);

    --btDialogBackground: linear-gradient(180deg, #566564 0%, #394C4B 100%);
    --btTextAreaBackground: #000;
    --btDrawAttention: var(--btGeneralBorder);
}
a {
    color: var(--btLinkColor);
}
a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

html {
    background: var(--btEmptyBackground);
}
body {
    overflow-x: clip;
    margin-left: 0px;
    margin-right: 0px;
}

#controls_header {
    background: var(--btHeaderBackground);
    border-left: 1px solid var(--btHeaderBorder);
    border-right: 1px solid var(--btHeaderBorder);
    border-bottom: 1px solid var(--btHeaderBorder);
}

.stat_span {
    position: relative;
    bottom: 5px;
    padding-right: 8px;
    font-size: var(--btTopicFontSize);
    font-family: var(--btFont);
}

#stats_row {
    height: 27px;
    color: var(--btColor);
    position: absolute;
    top: 1px;
    right: 0px;
    padding-right: 5px;
    border-radius: 3px;
}

#brain {
    padding-left: 4px;
    padding-top: 3px;
}

#search {
    height: 25px;
    position: absolute;
    top: 4px;
    left: calc((100% - 300px) / 2);
}
#search_entry {
    margin-top: 1px;
    border: none;
    width: 175px;
    color: var(--btInputForeground);
    background: var(--btInputBackground);
    border-radius: 12px;
    padding-left: 10px;
    height: 15px;
}
.hint {
    /* alex */
    font-family: var(--btFont);
    font-style: var(--btNoteFontWeight);
    font-weight: var(--btNoteFontWeight);
    font-size: var(--btNoteFontSize);
    line-height: var(--btPageLineHeight);
    color: var(--btHintColor);
    z-index: 3;
    position: absolute;
    top: 3px;
    left: 20px;
}
.hintText {
    position: relative;
    top: -6px;
}
#newTopLevelTopic {
    width: 100%;
    height: 25px;
    text-align: center;
    background: #2A3F3E;
    color: #85E20E;
    cursor: pointer;
}
#newTopLevelTopic span {
    position: relative; 
    top: 5px;
}
#newTopicNameHint {
    position: relative;
    left: 40px;
    top: 15px;
}

/* style when input is active */
:focus-visible {
    outline-width: 1px;
    outline-color: var(--btGeneralBorder);
    outline-style: groove;
}
.highlight {
    background-color: lime;
}
.failed {
    background-color: #E59A98 !important;
}

#open_close_image {
    margin-top: 2px;
    width: 25px;
    cursor: pointer;
}
/* Animation on More SVG image to draw attention when closing. 
https://stackoverflow.com/questions/22252472/how-to-change-the-color-of-an-svg-element */
#open_close_image.animate_more {
    height: 25px;
    margin-top: 0px;
    animation: filter-animation 1.5s 2;
}
@keyframes filter-animation {
    0% {
        filter: invert(0%) sepia(4%) saturate(7484%)
                hue-rotate(171deg) brightness(95%) contrast(105%);
    }
    50% {
        filter: invert(93%) sepia(2%) saturate(5452%)
                hue-rotate(63deg) brightness(116%) contrast(69%);
    }
    100% {
        filter: invert(0%) sepia(4%) saturate(7484%)
                hue-rotate(171deg) brightness(95%) contrast(105%);
    }
}

#controls {
    position: fixed;
    right: 0px;
    left: 0px;
    top: 0px;
    border: none;
    z-index: 3;
    font-family: var(--btFont);
    font-size: var(--btTopicFontSize);
}                    

#controls_screen {
    position: relative;
    overflow: hidden;
    display: block;
    background: var(--btControlsBackground);
    top: -27px;
    margin-left: 1px;
    margin-right: 1px;
    text-align: center;
    letter-spacing: var(--btLetterSpacing);
    color: var(--btControlsHeaderSecondaryColor);
    border-top: 1px solid var(--btControlsDividerColor);
    border-bottom: 1px solid var(--btControlsDividerColor);
}
#controls_screen a:link {
  text-decoration: underline;
}
#controls_screen hr {
    width: 90%;
    border: 0.5px solid var(--btControlsDividerColor);
}

#welcome {
    font-size: 14px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 26px;
    letter-spacing: var(--btLetterSpacing);
    color: var(--btControlsHeaderPrimaryColor);
}

#openingTips {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 15px;
    line-height: 1.4em;
    padding: 3px;
    border: 2px solid var(--btGeneralBorder) ;
    border-radius: 3px;
    text-align: left;
}
#openingTips p {
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
}

#tip {
    margin-bottom: 10px;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

#logo_image {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right:auto;
    margin-top: 10px;
}

#buttonRow {
    position: absolute;
    padding-right: 0px;
    border-radius: 0px;
    cursor: pointer;
    right: 0px;
    height: calc(var(--btRowHeight) - 2px);

}
.rowButton {
    height: 28px;
    width: 26px;
    border: 1px solid var(--btTopicBackground);
    padding: 0px;
    margin-left: -2px;
    margin-right: -2px;
}

#tools {
    border-color: white;
    filter: invert(1);
}
#tools.toggled {
    border-color: var(--btTopicBackground);
    filter: invert(0);
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #00000020;
}

dialog {
    border: 2px solid var(--btGeneralBorder) ;
    border-radius: 3px;
    box-shadow: 7px 7px 5px var(--btGeneralBorderShadow);
    padding: 30px;
    padding-top: 2px;
    margin-top: 0px;
    position: fixed;
    background: var(--btDialogBackground);
}

dialog textarea {
    resize: none;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 2px;
    font-family: var(--btControlsFont);
    background: var(--btTextAreaBackground);
    color: var(--btColor);
    font-size: 11px;
}
dialog input {
    border: 1px solid #ddd;
    width: 100%;
    border-radius: 2px;
    font-family: var(--btControlsFont);
    background: var(--btTextAreaBackground);
    color: var(--btColor);
}
dialog #title-text,#topicName {
    white-space: nowrap;
}
dialog #text-text {
    height: 11em;
}
dialog #title-url {
    height: 2em;
    font-size: 0.6em;
    font-style: italic;
}
dialog #distinguishedName {
    font-family:var(--btControlsFont);
    color: var(--btColor);
    text-align: center;
}
dialog li::marker {
    color: var(--btGeneralBorder);
}

#important_buttons {
    width: 90%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-around;
}

.important_button {   
    border-style: none;
    border-radius: 5px;
    color: white;
    background-color: rgba(88, 186, 0, 0.8);
    width: 180px;
    height: 30px;
    font-size: 12px;
    font-family: var(--btControlsFont);
}

.buttonDiv {
    margin: auto;
    padding-top: 4px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 10px;
    width: 80%;
}

.control_overlay {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    /* same as edit dialog */
    border: 2px solid var(--btGeneralBorder) ;
    border-radius: 3px;
    box-shadow: 7px 7px 5px var(--btGeneralBorderShadow);

    background-color: var(--btOptionsBackground);
    width: 90%;    
}

.overlay_table {
    background: var(--btOptionsBackground);
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    border-spacing: 1px;
}

.options_table td {
    padding-top: 18px;
}

.option_td {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.help_vertical_td {
    writing-mode: vertical-rl;
    text-align: center;
    padding-right: 10px;
}

.row_divider {
    border-bottom: solid;
    border-width: 1px;
    border-color: grey;
}

#optionsClose {
    position: absolute;
    cursor: pointer;
    right: 3px;
    top: 3px;
    z-index: 4;
    filter: var(--btInvert);
}

#inner {
    width: 240px;
    margin: 0 auto;
}

button:not([disabled]):hover {
    color: #222;
    background-color: var(--btButtonBackground);
    cursor: pointer;
}

/* button for import/export */
.button_text {
    color: #435554;
    font-family: var(--btControlsFont);
    font-size: 15px;
}
.split_image {
    opacity: 0.6;
    margin-top: 1px;
}

.general_button {
    width: 130px;
    border-radius: 3px 3px 3px 3px;
    border: 1px solid #ddd;
    padding: 5px 5px 5px 8px;
    font-size: 15px;
}
.dropdown_button {
    border-radius: 3px 3px 0px 0px;
}
button.tinyButton {
    border-radius: 3px 3px 3px 3px;
    font-size: 11px;
    border: 1px solid var(--btColor);
    position: relative;
    top: -7px;
}
    
.dropdown_text {
    float: left;
}
.button_image_wrapper {
    float: right;
}

.dropdown {
    display: inline-block;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 0px 4px 4px 4px;
    z-index: 1;
    width: 160px;
    transform: translate(0px, -4px);
}

.dropdown_content a {
    text-decoration: none;
    float: left;
}
.dropdown_content label {
    float: left;
    cursor: pointer;
}
.dropdown_content div {  
    cursor: pointer;
    float: left;
    padding: 5px 0px 5px 8px;
    width: 152px;
}
.dropdown_content div:hover {background-color: var(--btButtonBackground)}  
.dropdown:hover .dropdown_content {
    display: block;
}
/* end split button*/

span.elipse {
     cursor:pointer;
     color:blue;
     text-decoration:underline;
     padding-left: 0.1em;
}

textarea {
    font-size: .8em;
    line-height: 1.2;
}

/* prevents selection being scrolled off top, nb edited in toggleMenu */
.treetable tr {
  scroll-margin-top: 375px;
}


body.waiting * {
    cursor: progress !important;
}


/* 3-way chooser for window mapping */
.toggle-radio > input + label {
    background:#eee;
    border:solid #ddd;
    border-width:1px; /* 0 1px 0;*/
}
.toggle-radio > input:first-of-type + label {
    margin-right: -5px;
}
.toggle-radio > input:last-of-type + label {
    margin-left: -5px
}

/* Rounded corners */
.toggle-radio input:first-of-type + label {border-radius:3px 0 0 3px;}
.toggle-radio input:last-of-type + label {border-radius:0 3px 3px 0;}

.toggle-radio > input:checked + label {
    background: var(--btButtonBackground);
    cursor: default;
}
/* CORE STYLES */
.toggle-radio {
    display:inline-block;
    vertical-align:middle;
}
.toggle-radio > input[type='radio'] {display:none;}
.toggle-radio > input + label {
    display:inline-block;
    margin-bottom:0;
    padding:5px 10px;
    cursor:pointer;
    align-items:center;}

/* Transitions */
.toggle-radio > input:checked + label {transition:background 300ms linear;}


/* tweaks to above for panel|tab 2-way selector */
#panel_toggle {
    float: left;
}

.toggle-radio2 > input:first-of-type + label {
    margin-right: 0px;
}
.toggle-radio2 > input + label {
    padding:5px 25px;
}
