---
---

@import "{{ site.theme }}";


.page-header {
    background-color: #ecf0eb;
    background-image: linear-gradient(180deg, #7bb07b, #ffffff);
    box-sizing: content-box;
    display: flex;
}

.page-header a {
    flex: 1;
}

.header-left {
    flex: 1;
    margin-top: 10px;
}
.header-right {
    flex: 1.5;
}

.header-buttons {
    display: flex;
}

@keyframes rotate {
    0% {transform: rotateY(0deg);}
    40% {transform: rotateY(-10deg);}
    50% {transform: rotateY(-12deg);}
    60% {transform: rotateY(-10deg);}
    100% {transform: rotateY(0deg);}
}

#marquee {
    /*    animation: rotate, 5s, linear, 5s, infinite, alternate; */
    animation-name: rotate;
    transform-origin: 90%;
    animation-duration: 2s;
    animation-delay: 0.1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

#logo {
    border: solid 1px #7bb07b;
    border-radius: 3px;
    padding: 2px;
}

.PageNavigation {
    font-size: 14px;
    display: block;
    width: auto;
    overflow: hidden;
}

.PageNavigation a {
    display: block;
    width: 50%;
    float: left;
    margin: 1em 0;
}

.PageNavigation .next {
    text-align: right;
    margin-top: 0px;
}
.row {
    width: 100%;
    margin-top: 20px;
    display: inline-block;
}
.cell {
    width: 50%;
}
.left {
    float: left;
    padding-right: 10px;
}
.right {
    float: right;
    padding-left: 10px;
}


@media screen and (min-width: 72em) {
    .page-header {
	padding: 0.1rem 10rem; 
	height: 15rem;
    }
}
@media screen and (min-width: 60em) and (max-width: 72em){
    .page-header {
	padding: 0.1rem 8rem; 
	height: 12rem;
    }
}
@media screen and (min-width: 42em) and (max-width: 60em) {
    .page-header {
	padding: 0.1rem 3rem;
	height: 10rem;
    }
}
@media screen and (max-width: 42em) {
    .page-header {
	padding: 0.1rem 1rem;
	height: 8rem;
    }
    .header-right {
	display: none;
    }
    .cell {
	width: 100%;
	margin-top: 15px;
    }
    .right {
	padding: 0;
    }
    .left {
	padding: 0;
    }
}
