    
#controls_header {
    background-color: #7bb07b;
    border-width: 1px;
    border-color: #AAA;
}

.stat_span {
    padding-right: 8px;
    vertical-align: top;
    font-size: 13px;
    font-family: arial;
}

#stats_row {
    float: right;
    margin-top: 2px;
    height: 18px;
    color: darkslategray;
}

.open_close {
    opacity: 0.6;
    margin-top: 1px;
    margin-left:7px;
}

#controls {
    position: fixed;
    right: 8px;
    left: 8px;
    top: 0px;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    border-left: none;
    border-right: none;
    z-index: 2;
}                    

#controls_screen {
    position: relative;
    overflow: hidden;
    display: block;
    background-image: linear-gradient(rgba(255, 255, 255, 0.80), rgba(255, 255, 255, 0.80)),
                      url("resources/marquee.png");
    background-size: cover;
}
#logo_image {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right:auto;
    margin-top: 3px;
}

#buttonRow {
    background-color: #7bb07b; /* #cec; #aca */
    position: absolute;
    padding-left: 10px;
    padding-right: 3px;
    right: 13px;
    border-radius: 3px;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 1px;
    border-color: dimgrey;
    cursor: pointer;
}

dialog {
    border: 3px solid #686 ; /* rgba(0, 0, 0, 0.3); */
    border-radius: 6px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    width: 80%;
    margin-top: 0px;
    position: fixed;
}

dialog textarea {
    width: 90%;
    height: 5em;
}
#editText {
    margin-right: 0px;
    margin-left: 10px;
}

#authDiv {
    width: 75%;
    margin: auto;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-around;
    border-width: 3px;
    border-style: solid;
    border-radius: 5px;
    background-color: #7bb07b66;
}
.important {
    border-color: crimson;
}
.notImportant {
    border-color: grey;
}

.buttonDiv {
    width: 80%;
    margin: auto;
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
}

#options {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
    border: solid;
    border-color: grey;
    border-width: 3px;
    border-radius: 5px;
    background-color: #dcdfd3f4;
    width: 80%;
    z-index: 3;
}
.option_table {
    margin-left: auto;
    margin-right: auto;
}
.option_td {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#optionsClose {
    position: absolute;
    cursor: pointer;
    right: 3px;
    top: 3px;
    z-index: 4;
}

#inner {
    width: 150px;
    margin: 0 auto;
}

button {
    color: #222;
    border-style: double;
    border-radius: 3px;
}

button:not([disabled]):hover {
    color: #222;
    background-color: #7bb07b; /* #ACA; */
}
    
#refresh {
    width: 120px;
}

span.elipse {
     cursor:pointer;
     color:blue;
     text-decoration:underline;
     padding-left: 0.1em;
}

textarea {
    font-size: .8em;
    line-height: 1.2;
    /* font-family: "Palatino";
     font-family: "Arial";
     line-height: 1;*/
}


body.waiting * {
    cursor: progress !important;
}


/* 3-way chooser for window mapping */
.toggle-radio > input + label {
    background:#efefef;
    border:2px solid grey;
    border-width:2px 0 2px 0;
}
.toggle-radio > input:first-of-type + label {
    border-right-width: 1px;
    border-left-width: 2px;
    margin-right: -4px;
}
.toggle-radio > input:last-of-type + label {
    border-left-width:1px;
    border-right-width:2px;
    margin-left: -4px
}
.toggle-radio > input:checked + label {background: #7bb07b;}

/* Rounded corners */
.toggle-radio input:first-of-type + label {border-radius:4px 0 0 4px;}
.toggle-radio input:last-of-type + label {border-radius:0 4px 4px 0;}

/* CORE STYLES */
.toggle-radio {
    display:inline-block;
    vertical-align:middle;
}
.toggle-radio > input[type='radio'] {display:none;}
.toggle-radio > input + label {
    display:inline-block;
    margin-bottom:0;
    padding:1px 10px;
    cursor:pointer;
    align-items:center;}

/* Transitions */
.toggle-radio > input:checked + label {transition:background 300ms linear;}
