body {
    border-style: solid;
    border-width: 2px;
    border-color: #518651;
    background-color: #7bb07bb3;
    margin: 0px;
    padding: 8px;
}
h2 {
    color: #225222;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align:center;
}
h3 {
    color: #225222;
    margin-top: 5px;
    margin-bottom: 0px;
}
textarea {
    font-size: x-small;
    margin-top: 5px;
    margin-right: 1px;
    background-color: #e6f3e7;
}
#forms {
    font-style: italic;
    font-size: x-small;
    opacity: 60%;
}
#forms .horizontal {
    display: inline-block;
}
#forms input {
    vertical-align: bottom;
}
#tabAction {
    padding-right: 8px;
    cursor: pointer;
}

#chk {
    padding-left: 8px;
    cursor: pointer;
}
#allLabel {
    cursor: pointer;
}
.radio_inline {
    cursor: pointer;
}
input {
    cursor: pointer;
}
hr {
    margin: 0px;
}
ul {
    padding-left: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    list-style-type: none;
}
#newtag {
    background-color: #e6f3e7;
    border-color: #686;
    border-width: 1px;
    border-style: solid;
    cursor: text;
}
#currentTags {
    font-size: x-small;
    margin-left: -10px;
}
.highlight {
    background: #cec;
}
span:hover {
    cursor: pointer;
    background: #cec;
}
#submit {
    width: 150px;
    height: 15px;
    margin-top: 3px;
    font-size: x-small;
    font-style: italic;
    cursor: pointer;
}
#ok {
    margin-left: 180px;
}
