<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">
    {% seo %}

    <meta property="og:title" content="BrainTool"/>
    <meta property="og:image" content="http://braintool.org/site/AppStoreCollatoral/BraintoolChromestoresmallSATgreen-01.png"/>
    <meta property="og:description" content="The Topic Manager for your online life"/>
    <meta property="og:url" content="https://braintool.org" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico?">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header class="page-header" role="banner">
      <div class="header-left">
	<div class="header-links">
	  <a href="{{ site.url  }}/index.html">
	    <img id="logo" src="{{ site.url }}/site/logo-transparent.png" height='60px' alt='logo'>
	  </a>
	</div>
	<div class="header-buttons">
          <a href="{{ site.url  }}/overview.html" >Vision</a>
          <a href="{{ site.url  }}/support.html" >Support</a>
          <a href="{{ site.url  }}/posts.html" >Blog</a>
	</div>
	<div>
	  <a href="https://chrome.google.com/webstore/detail/braintool/fialfmcgpibjgdoeodaondepigiiddio">
            <div style="background-color: #1a73e8; color: #fff; margin-left:auto; margin-right: auto; width: 150px; height: 36px; cursor: pointer; margin-top: 10px; padding-top:5px">
              Add to Chrome
            </div>
          </a>
	</div>
      </div>  
      <div class="header-right">
	<img id="marquee" src="{{ site.url }}/site/AppStoreCollatoral/BraintoolMarquee-nologo.png" height="95%" style="float:right" alt='logo'>
      </div>  
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
        <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <div class="hvp-footer" style="text-align:center">
          <a href="{{ site.url  }}/support.html" style="float:left">Support</a>
          <a href="{{ site.url  }}/posts.html" style="float:right">Blog</a>
          <a href="{{ site.url  }}/index.html" style="margin-left:auto; margin:0 auto; display:inline-block">Home</a>
        </div>
        <!--
            <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
            -->
      </footer>
    </main>
  </body>
</html>
