<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ site.google_analytics }}');
    </script>
    {% endif %}
    <meta charset="UTF-8">
    {% seo %}

    <meta property="og:title" content="BrainTool"/>
    <meta property="og:image" content="http://braintool.org/site/AppStoreCollatoral/BraintoolChromestoresmallSATgreen-01.png"/>
    <meta property="og:description" content="The Topic Manager for your online life"/>
    <meta property="og:url" content="https://braintool.org" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico?">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

  </head>
  <body>
    <header class="page-header" role="banner">
      <div class="header-top">
	<a href="{{ site.url }}/index.html">
	  <img class="logo" src="{{ site.url }}/site/logo-transparent.png" title="Home" alt='logo'/>
	</a>
	<p class="beyond-bookmarks"><i>Beyond Bookmarks</i></p>
	</div>
      </div>
      
      {% if page.audience != "landingpage" %}
      <div style="display:flex">
	<div class="header-left">
	  <div class="header-buttons">
            <a href="{{ site.url  }}/overview.html" >Vision</a>
            <a href="{{ site.url  }}/support.html" >Help</a>
            <a href="{{ site.url  }}/posts.html" >Blog</a>
	  </div>
	</div>  
	{% if page.audience == "nonuser" %}
	<div class="header-right">
	  <div class="store-button">
	    <a id="store-link" href="https://chrome.google.com/webstore/detail/braintool/fialfmcgpibjgdoeodaondepigiiddio">
              <div id="store-text">Add to Chrome</div>
            </a>
	  </div>
	  <script>
	    // if edge change button to point to edge store
	    if (navigator.userAgent.indexOf('Edg/') >= 0) {
	    let link = document.getElementById('store-link');
	    let text = document.getElementById('store-text').firstChild;
	    link.href = "https://microsoftedge.microsoft.com/addons/detail/braintool-beyond-bookma/igibjpnabjgljgnfajjpapocagidmeol";
	    text.nodeValue = "Add to Edge";
	    }
	  </script>
	</div>
	{% endif %}
      </div>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
        <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <div class="hvp-footer" style="text-align:center; display:flex; justify-content: space-between">
          <a href="{{ site.url  }}/index.html" style="margin-left:0px;">Home</a>
          <a href="{{ site.url  }}/support.html" >Help</a>
          <a href="{{ site.url  }}/pricing.html" >Pricing</a>
          <a href="{{ site.url  }}/posts.html" style="margin-right:0px;">Blog</a>
        </div>
      </footer>
    </main>
  </body>
</html>
